
bin/Debug/RenJiCaoZuo.exe
*.config
*.pdb
bin/Debug/RenJiCaoZuo.vshost.exe
*.manifest
*.cache
obj/Debug/MainWindow.baml
obj/Debug/RenJiCaoZuo.csproj.FileListAbsolute.txt
*.exe
obj/Debug/RenJiCaoZuo.g.resources
obj/Debug/RenJiCaoZuo_Content.g.i.cs
obj/Debug/App.g.cs
obj/Debug/App.g.i.cs
obj/Debug/MainWindow.g.cs
obj/Debug/MainWindow.g.i.cs
obj/Debug/RenJiCaoZuo.Properties.Resources.resources
obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
*.cache
obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
*.cache
RenJiCaoZuo/obj/Debug/RenJiCaoZuo_MarkupCompile.i.cache
RenJiCaoZuo/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
*.cs
obj/Debug/MiMaDengLu.baml
obj/Debug/MiMaQueRen.baml
obj/Debug/SheZhiHuaMian.baml
obj/Debug/ZiDongGuanJi.baml
bin/Debug/Resource/bg.jpg
bin/Debug/Resource/btn_bg.jpg
bin/Debug/Resource/confirm.jpg
bin/Release/Resource/bg.jpg
bin/Release/Resource/btn_bg.jpg
bin/Release/Resource/confirm.jpg
*.baml
obj/Debug/RenJiCaoZuo_MarkupCompile.lref
obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
