
bin/Debug/RenJiCaoZuo.exe
bin/Debug/RenJiCaoZuo.exe.Config
bin/Debug/RenJiCaoZuo.pdb
bin/Debug/RenJiCaoZuo.vshost.exe
bin/Debug/RenJiCaoZuo.vshost.exe.Config
bin/Debug/RenJiCaoZuo.vshost.exe.manifest
obj/Debug/App.baml
obj/Debug/App.g.cs
obj/Debug/App.g.i.cs
obj/Debug/DesignTimeResolveAssemblyReferences.cache
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/GeneratedInternalTypeHelper.g.cs
obj/Debug/GeneratedInternalTypeHelper.g.i.cs
obj/Debug/Introduction.baml
*.baml
obj/Debug/Introduction.g.cs
obj/Debug/Introduction.g.i.cs
obj/Debug/LoginPassord.g.cs
obj/Debug/LoginPassord.g.i.cs
obj/Debug/MainWindow - Copy.g.i.cs
obj/Debug/MainWindow.g.cs
obj/Debug/MainWindow.g.i.cs
obj/Debug/MainWindow1.g.cs
obj/Debug/MainWindow1.g.i.cs
obj/Debug/MiMaDengLu.g.i.cs
obj/Debug/MiMaDengLu.xaml.g.i.cs
obj/Debug/MiMaDengLu1.g.i.cs
obj/Debug/MiMaQueRen - Copy.g.i.cs
obj/Debug/MiMaQueRen.g.i.cs
obj/Debug/ModifyPassword.g.cs
obj/Debug/ModifyPassword.g.i.cs
obj/Debug/RenJiCaoZuo.csproj.FileListAbsolute.txt
obj/Debug/RenJiCaoZuo.csproj.GenerateResource.Cache
obj/Debug/RenJiCaoZuo.csprojResolveAssemblyReference.cache
obj/Debug/RenJiCaoZuo.exe
obj/Debug/RenJiCaoZuo.g.resources
*.pdb
obj/Debug/RenJiCaoZuo.Properties.Resources.resources
obj/Debug/RenJiCaoZuo_Content.g.i.cs
obj/Debug/RenJiCaoZuo_MarkupCompile.cache
obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
obj/Debug/Styles/ButtonStyle.g.i.cs
obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
obj/Debug/ZiDongGuanJi.g.i.cs
obj/Debug/ZiDongGuanJi - Copy.g.i.cs
obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
obj/Debug/ShutDownSetting.g.i.cs
obj/Debug/ShutDownSetting.g.cs
obj/Debug/SheZhiYeMian.g.i.cs
obj/Debug/SheZhiYeMian - Copy.g.i.cs
obj/Debug/SheZhiHuaMian.g.i.cs
obj/Debug/SettingWindow.g.i.cs
obj/Debug/SettingWindow.g.cs
obj/Debug/SettingPage.g.i.cs
obj/Debug/RenJiCaoZuo_MarkupCompile.lref
obj/Debug/RenJiCaoZuo_MarkupCompile.i.cache
bin/Debug/Newtonsoft.Json.dll
bin/Debug/Newtonsoft.Json.xml
bin/Debug/Xceed.Wpf.Toolkit.dll
obj/Debug/RenJiCaoZuo_MarkupCompile.i.lref
obj/Debug/View/Introduction.g.cs
obj/Debug/View/Introduction.g.i.cs
obj/Debug/View/LoginPassord.g.cs
obj/Debug/View/LoginPassord.g.i.cs
obj/Debug/View/ModifyPassword.g.cs
obj/Debug/View/mainThread.g.cs
obj/Debug/View/mainThread.g.i.cs
obj/Debug/View/MainWindow.g.cs
obj/Debug/View/MainWindow.g.i.cs
obj/Debug/View/MainWindow1.g.cs
obj/Debug/View/MainWindow1.g.i.cs
obj/Debug/View/ModifyPassword.g.i.cs
obj/Debug/View/SettingWindow.g.cs
obj/Debug/View/SettingWindow.g.i.cs
obj/Debug/View/ShutDownSetting.g.cs
obj/Debug/View/ShutDownSetting.g.i.cs
