<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings>
      <add key="FirstPageName" value="1"/>
      <add key="domino" value="39.108.244.227"/>
      <add key="port" value="8080"/>
      <add key="url" value="/sim/a/pc/access"/>
	    <add key="TempleInfo_Interface" value="templeInfo"/>
      <add key="TempleInfo_Param" value="templeId"/>
      <add key="TempleInfo_id" value="13be6f66d49647febeab24a9929ef88d"/>
      <add key="MonkInfo_Interface" value="monkInfo"/>
      <add key="MonkInfo_id" value="6217fb65b54848679590b9478182f527"/>
      <add key="ActivityInfo_id" value="f618a2a094ca4b419e828fd7d2aeade5"/>
      <add key="GetActivityById_id" value="12a9800b25e14ba190d6ba6e5a649c5d"/>
      <add key="qRCodeInfo_id" value="20f757cbac914ec3abd9e5686038430d"/>
      <add key="TemplePayHistory_id" value="73ba7b2b78e74ba0ac1d31d10270994c"/>
      <add key="housePayHistory_id" value="73ba7b2b78e74ba0ac1d31d10270994c"/>

      <!--<add key="HttpLink" value="http://39.108.244.227:8080/sim/a"/>-->
      <add key="ShutDownTime" value="22:50"/>
      <add key="DefaultShutDownTime" value="20:30"/>
      <add key="Password" value="123456"/>
      <add key="VersionNo" value="1.0.0.0"/>
    </appSettings>
</configuration>