<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings>
      <add key="FirstPageName" value="1"/>
      <add key="HttpLink" value="http://39.108.244.227:8080/sim/a"/>
      <add key="ShutDownTime" value="22:50"/>
      <add key="Password" value="123"/>
      <add key="VersionNo" value="1.0.0.0"/>
    </appSettings>
</configuration>